/* Color Theme Swatches in Hex */
/*
.destaque{ color: #127369; }
.principal { color: #10403B; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-3-hex { color: #8AA6A3; }
.N-I-S-H-I-K-I-G-O---Furniture-Design-Award-2014-4-hex { color: #4C5958; }
.background { color: #BFBFBF; } 
*/

html {
    background: #BFBFBF;
    color: #10403B;
}

